* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 18px; */
  font-family: sans-serif;
  /* font-weight: 300; */
}
body {
  background-color: rgba(208, 238, 212);
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header-section {
  max-width: 1200px;
  margin: 10px auto;
}

/* HEADER SECTION */

.header {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 10px;
}

/* LOGO */

.logo-icon {
  width: 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: orange;
}

.logo:hover {
  text-decoration: 3px underline gray;
}

/* NAVBAR */

.navbar ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-size: 18px;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}

.navbar ul li a:hover {
  text-decoration: orange;
  text-decoration-thickness: 3px;
  text-decoration-line: underline;
}

/* SEARCH */

.search {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search input {
  padding: 6px 10px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
}

.search:hover {
  border: 1px solid orange;
}

/* SIGNUP BUTTON */

.signup {
  width: 10%;
  height: 30px;
  background-color: rgb(236, 230, 230);
  border: 2px solid orange;
  border-radius: 5px;
  font-size: 20px;
}

.signup:hover {
  background-color: orange;
}

/* HERO SECTION */

.hero-section {
  width: 100%;
  height: 100vh;
}

.hero-section img {
  width: 100%;
  margin-top: 20px;
  object-fit: cover;
  border: none;
  border-radius: 10px;
}

/* CATALOG SECTION */

#catalog-section {
  width: 100%;
  /* height: 100vh; */
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* TOP CATEGORIES */

.top-categories {
  width: 100%;
  /* height: 35%; */
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.top-categories h1 {
  font-size: 32px;
  font-weight: bold;
}

.category-boxes {
  display: flex;
  gap: 20px;
}

.box {
  width: 150px;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 230, 230);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 0px 10px 0px rgba(48, 48, 48, 0.75);
}

.box img {
  width: 50px;
  height: 50px;
  background-color: rgb(177, 177, 177);
  padding: 5px;
  border-radius: 25px;
}

.box:hover {
  border: 3px solid orange;
}

/* SHOWCASE SECTION */

.showcase {
  width: 100%;
  height: auto;
  background-color: rgba(235, 216, 216, 0.336);
  margin: 20px auto;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img {
  width: 50%;
}

.showcase img {
  width: 100%;
  height: 100%;
  margin-left: 50px;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.showcase-head {
  position: absolute;
  top: 0;
  /* margin-top: 20px; */
  color: red;
}

.showcase-main-head {
  font-size: 26px;
  width: 70%;
  font-weight: bold;
  margin: 10px 0px;
}

.showcase-main-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}

.showcase-main-content ul li {
  list-style: "✓";
}

.showcase-btn button {
  width: 200px;
  height: 40px;
  background-color: rgb(236, 230, 230);
  border: 2px solid orange;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
}

.showcase-btn button:hover {
  background-color: orange;
}

/* FEATURE SECTION */

.feature-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: aquamarine; */
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  /* align-content: space-evenly; */
  width: 50%;
  margin: 10px 10px;
}

.feature-head {
  font-size: 16px;
  color: red;
}

.feature-main-head h1 {
  font-size: 46px;
  font-weight: bold;
  width: 70%;
}

.feature-main-content {
  font-size: 20px;
}

.feature-main-content-list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature-main-content-list li {
  list-style: none;
  display: flex;
  gap: 10px;
  width: 300px;
  height: 30px;
  align-items: center;
  padding: 2px 8px;
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
}

.feature-section-img {
  width: 50%;
  height: 100%;
}

.feature-section-img img {
  width: 100%;
}

/* SHOP SECTION */

#shop-section {
  width: 100%;
  height: 100vh;
  background-color: white;
}

/* OUR ITEMS (SHOP) */

.our-items {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background-color: rgba(235, 216, 216, 0.336);
}

.shop-head {
  height: 10%;
  display: flex;
  align-items: center;
  color: red;
}

.shop-main-head {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-header {
  width: 50%;
  font-size: 24px;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.arrow {
  background-color: orange;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:hover {
  border: 3px solid white;
}

/* SHOP ITEMS DIVS */

.shop-items {
  height: 70%;
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.item {
  height: 80%;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  background-color: rgb(236, 230, 230);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 0px 10px 0px rgba(48, 48, 48, 0.75);
}

.item:hover {
  border: 3px solid orange;
}

.item img {
  width: 60%;
}

.shop-sale {
  width: 100%;
  height: 40%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale-banner {
  height: 90%;
  width: 70%;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 0px 10px 0px rgba(48, 48, 48, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(25, 51, 25);
}

.banner-img {
  width: 50%;
}

.sale-banner img {
  width: 90%;
  height: 100%;
}

.banner-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  color: white;
}

.sale-content {
  width: 80%;
  font-size: 20px;
}

.shop-now-btn {
  width: 150px;
  height: 40px;
  background-color: rgb(236, 230, 230);
  border: 2px solid orange;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
}

.shop-now-btn:hover {
  background-color: orange;
  border: 2px solid white;
}

/* CONTACT SECTION */

#contact-section {
  width: 100%;
  height: 100vh;
  margin: 10px auto;
}

/* FAQ SECTION */

.faq-section {
  width: 100%;
  height: 60%;
  background-color: rgb(226, 219, 219);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.faq-img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-img img {
  width: 70%;
  height: 100%;
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.faq-head h5 {
  font-size: 18px;
  color: rgb(25, 51, 25);
}

.faq-header {
  font-size: 34px;
  font-weight: bold;
}

.faq-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 65%;
  border: 2px solid gray;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
}

.faq-contact ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.faq-contact ul li {
  display: flex;
  gap: 100px;
}

/* NEWSLETTER SECTION */

.newsletter {
  width: 60%;
  height: 30%;
  margin: 40px auto;
  background-color: rgb(25, 51, 25);
  box-shadow: 2px 0px 10px 0px rgba(48, 48, 48, 0.75);
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  color: white;
}

.nl-head {
  font-size: 18px;
  color: orange;
}

.nl-main-head {
  font-size: 24px;
  width: 70%;
  text-align: center;
}

.subscription-box {
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 100px; */
  background-color: white;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 10px;
}

.subscription-box input {
  width: 400px;
  height: 30px;
  background-color: white;
  border: none;
  outline: none;
  font-size: 18px;
}

.subscription-box button {
  width: 250px;
  height: 35px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: orange;
  font-size: 18px;
  font-weight: bold;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe:hover {
  background-color: rgb(243, 144, 14);
}

/* FOOTER SECTION */

.footer {
  width: 100%;
  height: 300px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-icons {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 100px;
}

.footer-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 80px;
}

.footer-logo h1 {
  width: 100%;
  font-size: 28px;
  color: orange;
}
