* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 18px; */
  font-family: sans-serif;
  font-weight: 300;
}
body {
  background-color: rgba(208, 238, 212);
  max-width: 1200px;
  margin: 10px auto;
}

.header-section {
  max-width: 1200px;
  margin: 10px auto;
}

/* HEADER SECTION */

.header {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 10px;
}

/* LOGO */

.logo-icon {
  width: 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: orange;
}

.logo:hover {
  text-decoration: 3px underline gray;
}

/* NAVBAR */

.navbar ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-size: 18px;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}

.navbar ul li a:hover {
  text-decoration: orange;
  text-decoration-thickness: 3px;
  text-decoration-line: underline;
}

/* SEARCH */

.search {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search input {
  padding: 6px 10px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 20px;
}

.search:hover {
  border: 1px solid orange;
}

/* SIGNUP BUTTON */

.signup {
  width: 10%;
  height: 30px;
  background-color: rgb(236, 230, 230);
  border: 2px solid orange;
  border-radius: 5px;
  font-size: 20px;
}

.signup:hover {
  background-color: orange;
}

/* HERO SECTION */

.hero-section {
  width: 100%;
  height: 100vh;
}

.hero-section img {
  width: 100%;
}

/* CATALOG SECTION */

#catalog-section {
  width: 100%;
  height: 100vh;
  /* background-color: white; */
}

/* TOP CATEGORIES */

.top-categories {
  width: 100%;
  height: 35%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.top-categories h1 {
  font-size: 32px;
  font-weight: bold;
}

.category-boxes {
  display: flex;
  gap: 20px;
}

.box {
  width: 150px;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 230, 230);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 0px 10px 0px rgba(48, 48, 48, 0.75);
}

.box img {
  width: 50px;
  height: 50px;
  background-color: rgb(177, 177, 177);
  padding: 5px;
  border-radius: 25px;
}

.box:hover {
  border: 3px solid orange;
}

/* SHOWCASE SECTION */

.showcase {
  width: 100%;
  height: 65%;
  background-color: rgba(235, 216, 216, 0.336);
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.showcase img {
  width: 80%;
  height: 100%;
  margin-left: 50px;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 60%; */
}

.showcase-head {
  position: absolute;
  top: 0;
  margin-top: 10px;
  color: red;
}

.showcase-main-head {
  font-size: 26px;
  width: 70%;
  font-weight: bold;
  margin: 10px 0px;
}

.showcase-main-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}

.showcase-main-content ul li {
  list-style: "✓";
}

.showcase-btn button {
  width: 200px;
  height: 40px;
  background-color: rgb(236, 230, 230);
  border: 2px solid orange;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
}

.showcase-btn button:hover {
  background-color: orange;
}
